.main-header-mobile,
#btn-menu-mobile{
   display: none;
}

@media screen and (max-width: 900px) {

   /* Show the burger menu icon */
   .main-header-mobile {
      background-color: rgba(27, 27, 27, 0.952);
      backdrop-filter: blur(10px);
      display: block;
      position: absolute;
      top: 77px;
      right: 0;
      width: 100%;
      height: 0;
      visibility: hidden;
      transition: 0.5s;
      overflow: hidden;
   }
   #btn-menu-mobile{
      display: block;
   }
   
   .main-header-mobile nav a{
      color: #fff;
      display: block;
      padding: 20px 30px;
      transition: ease .5s;
   }
   .main-header-mobile nav a:hover{
      background-color: #1c6097;
   }

   .main-header-right{
      display: none;
   }

   .main-header-mobile.open{
      visibility: visible;
      height: 100vh
   }

   .image-home,
   #home .right,
   .image-about{
      display: none;
   }
   #home .left{
      display: flex;
      text-align: left;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 45px;
   }

   #about .right{
      width: 90%;
      margin-right: 15%;
      display: block;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 45px;
   }
   #about .right .btn{
      margin-left: 25%;
   }

   .container-services{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 50px;
   }
   .card-services{
      width: 70%;
      margin: 0px;
   }

   .container-resume,
   .container-resume .left,
   .container-resume .right{
      display: block;
      width: 95%;
   }

   .container-resume h3{
      font-size: 1.2rem;
   }
   .container-resume h4,
   .container-resume p{
      font-size: 1.0rem;
   }

   #contact .left{
      width: 90%;
   }
   #contact .right{
      display: none;
   }


}